@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";
}
body {
  background-color: #fafafa;
  box-sizing: border-box;
  /* padding: 0 1rem; */
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem 0;
  background-color: #3e54a3;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
header a {
  color: white;
}

/* ///////////////////////////////////////////////////////// */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 3rem;
  max-width: 140rem;
  font-size: 13px;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav li {
  list-style: none;
}
nav div {
  display: flex;
  gap: 1rem;
}
nav .navButtonDiv {
  background-color: #1c2022;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

nav .navButtonDiv p {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
  /* font-size: 15px; */
}
nav a {
  text-decoration: none;
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}
nav a:hover {
  text-decoration: underline;
}

/* ///////////////////////////////////////////////////////////////// */

.hero {
  display: flex;
  row-gap: 2rem;
  width: 100%;
  max-width: 75rem;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1rem auto;
  padding: 6rem 0;
  /* background-color: #949cbb; */
}
.hero div h1 {
  font-family: "Barlow", sans-serif;
  font-size: xxx-large;
  font-weight: 600;
  color: #3e54a3;
}
.hero .leftDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
}

.hero .flexRow1 {
  display: flex;
  gap: 1rem;
}

.hero .flexRow1 button {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: medium;
  background-color: #ed2c49;
  color: white;
  display: flex;
  gap: 1rem;
  padding: 0.7rem 2.2rem;
  border: none;
  align-items: center;
  justify-content: left;
  border-radius: 40px;
}

.hero .flexRow2 {
  display: flex;
  background-color: white;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}
.hero .flexRow2 p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}
.hero .rightDiv {
  width: 45%;
}

/* //////////////////////////////////////////////////////////// */

main .reviews {
  display: flex;
  /* row-gap: 2rem; */
  width: 100%;
  max-width: 75rem;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem auto;
  padding: 3rem 0;
}
main .reviews div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  text-align: center;
}

main .reviews img {
  max-width: 5.1rem;
  border-radius: 50%;
}
main .reviews p {
  font-size: larger;
}

main .reviewHeadingStyle {
  color: rgb(62, 84, 163);
  letter-spacing: 2px;
  font-weight: 900;
}
main .reviewParagraphStyle {
  font-size: 0.9rem !important;
  color: rgb(115, 115, 115);
}
main #reviewInnerInnerDiv {
  /* background-color: #0e0f13; */
  display: flex;
  gap: 0.2rem;
  padding: 1rem;
}

/* /////////////////////////////////////////////////////////////////////////// */

main .sponsors {
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 9rem;
  /* background-color: #3e54a3; */
}

.sponsersInnerDiv {
  display: flex;
  justify-content: space-between; /* Optional: Add space between items */
  width: 100%; /* Ensure it takes full width of the container */
  gap: 1rem;
}

.sponsersInnerDiv .imageDiv,
.sponsersInnerDiv .imageDiv2,
.sponsersInnerDiv .imageDiv3 {
  flex: 1; /* Make each div take up equal space */
  max-width: 33%; /* Ensure each div takes up to 33% of the container */
  text-align: center; /* Center the content within each div */
  background-color: white;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: 1px solid #dbe5e6;
  justify-content: center;
  align-items: center;
}

.sponsersInnerDiv img {
  width: 60%; /* Make images take full width of the parent div */
  height: auto; /* Maintain the aspect ratio of images */
}

/* ///////////////////////////////////////////////////////////////// */
main .features {
  width: 100%;
  max-width: 75rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img1 text1"
    "text2 img2"
    "img3 text3"
    "text4 img4"
    "img5 text5";
  gap: 6rem;
  margin-top: 14rem;
}

.item1 {
  grid-area: img1;
}
.item2 {
  grid-area: text1;
}

.item3 {
  grid-area: text2;
}
.item4 {
  grid-area: img2;
}
.item5 {
  grid-area: img3;
}
.item6 {
  grid-area: text3;
}
.item7 {
  grid-area: text4;
}
.item8 {
  grid-area: img4;
}
.item9 {
  grid-area: img5;
}
.item10 {
  grid-area: text5;
}

main .features img {
  max-width: 100%;
}

main .features .emojiDiv {
  background-color: #f0f4f4;
  border-radius: 100%;
  width: fit-content;
  padding: 0.6rem;
}
main .features .emoji {
  font-size: xx-large;
}

main .features .textFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
main .textFlex > p {
  font-size: 1.3rem;
  color: #737373;
}

main .textFlex > h3 {
  font-family: "Barlow";
  font-size: 2.5rem;
  font-weight: 500;
  color: black;
}

/* ///////////////////////////////////////////////// */

.working {
  background-color: #f0f4f4;
  margin: 7rem 2rem;
  border-radius: 10px;
  padding: 3rem 0;
}
.working .workingRightDiv {
  width: 50%;
}

.working .workingMainDiv {
  width: 100%;
  max-width: 75rem;
  margin: 1rem auto;
  display: flex;
  gap: 0.5REM;
}
.working .workingLeftDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.working details[open] {
  background-color:#3e54a3;
  padding: 1.3rem 2rem;
  border-radius: 10px;
}
.working summary {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  /* background-color:yellow ; */
  /* width: max-content; */
  /* margin-left: 1rem; */
}

.working details[open] summary > p {
  font-size: medium;
  color: #3e54a3;
  border-radius: 100%;
  background-color: white;
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 700;
  padding: 0.45rem 0.8rem;
}
.working details[open] summary > h6 {
  font-size: 1.3rem;
  font-family: "Barlow";
  font-weight: 600;
  color: white;
}

.working details[open] div p {
  padding-top: 1rem;
  color: #dbe5e6;
  font-size: medium;
}
.working div > h4 {
  font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #1C2022;
  /* padding-bottom: 2rem; */
}

/* Non Active /////////////////////////////// */
.working details {
  background-color: white;
  padding: 1.3rem 2rem;
  border-radius: 10px;
}
.working summary > p {
  color: white;
  background-color: #6ABECD;
  font-size: medium;
  border-radius: 100%;
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 700;
  padding: 0.45rem 0.8rem;
  user-select: none;
}
.working summary > h6 {
  color: #1C2022;
  font-size: 1.3rem;
  font-family: "Barlow";
  font-weight: 600;
  user-select: none;
}
.working details:hover{
  cursor: pointer;
}

.workingRightDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.workingRightDiv img {
  display: none; /* Hide all images by default */
  max-width: 100%;
}

.workingRightDiv img.active {
  display: block; /* Show the active image */
}
/* ////////////////////////////////////////// */
/* Community */

.community{
  background-color: #f0f4f4;
  margin: 7rem 2rem;
  border-radius: 10px;
  padding: 3rem 0;

}

.community .communityMainDiv{
width: 100%;
max-width: 75rem;
margin: 1rem auto;
display: flex;
flex-direction: column;
gap: 3rem;
}

.communityTopDiv{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.communityTopDiv button{
 padding: 1rem;
 border-radius: 100%;
 border: none;
 background-color:#3e54a3;
 display: flex;
}

.communityTopDiv h2{
font-family: "Barlow";
font-size: 2.5rem;
font-weight: 500;
color: #1C2022;
}
.community .communityBottomDiv{
  display: flex;
  /* overflow-x: hidden; */
  gap: 1rem;
  transition: transform .4s ease-in;
  

}

.community .pfp{
display: flex;
gap: 1rem;
/* justify-content: center; */
align-items: center;
}

.community .pfp img{
  max-width: 3.5rem;
  border-radius: 50%;
}

.community .card{
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 0 0 32.33%;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
border-radius: 10px;
}

.community .card p{
  font-size: large; color:#737373 ;
}


.community .card .pfp h6{
 color: #3E54A6;
 font-size: 16px;
 font-weight: 900;
}

.community .card .pfp  p{
  font-size:medium ;
 }

 /* gpt */
 

